nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}
body{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.direcciones{
    list-style: none;
    display: flex;

}
.direcciones li{
    margin-right: 20px;
    font-size: 18px;
    font-weight: ARIAL;
}
.direcciones li a{
    text-decoration: none;
    color: black;

}
.direcciones li a:hover{
    color: green;
}

#logo{
    width: 90px;
    height: 50px;
    margin-left: 35px;
}
.derecha{
    display: flex;
    gap: 10px;
    height: 40px;
    margin-right: 35px;
    
}
.hero{
    padding-top: 97px;
    height:461px ;
        background-color: #778c4259;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.058);
}

.imagenFondo{
    

    background-image: url(imagenes/vida_financiera_sin_texto.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px 400px;
    background-attachment: scroll;
        background-color: #778c4207;
    height: 300px;
    margin-right: 60px;



}
.texto{
    font-family: Arial;
    font-size: 24px;
    color: black;
    height: 300px;
    width: 750px;
    margin-left: 80px;
}

.texto button{
    background-color: #778c42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.seccion1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;

}

#caja_secciones {

  overflow-x: scroll; /* Permite scroll horizontal */
  scroll-snap-type: x mandatory; /* Obliga a "engancharse" */
  display: flex; /* Para alinear las imágenes una al lado de otra */
  scroll-behavior: smooth; /* Transición suave */
  width: 900px;
  height: 400px;

  font-family: Arial;
    font-size: 20px;
    color: black;
    padding: 0px;
}

.seccion {
  flex-shrink: 0; /* Evita que las imágenes se encojan */
  width: 900px; /* O el ancho que quieras para cada slide */
  scroll-snap-align: center; /* Centra el slide al detenerse */
    margin: 0px;
}
.seccion img{
    height: 400px;
    width: 900px;

}

#side_bar{
    
    margin:     20px;
    height: 400px;
    width: 480px;
    font-family: Arial;
    font-size: 20px;
    color: black;
}

#texto_convencer{
    font-family: Arial;
    font-size: 20px;
    color: black;
    margin: 20px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.058);
}
#texto_convencer h3{
    font-size: 30px;
    
    
}
#recuadros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cuadro{

    height: 400px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    font-family: Arial;
    font-size: 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.058);
}
.cuadro p{
    padding: 0px;
}
.cuadro img{
    height: 250px;
    width: 300px;
    padding: 0px;
}
footer{
    background-color: #778c42;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

